

.datacard{
    /* background-color: rgba(0, 255, 255, 0.581); */
    /* font-weight: bold; */
    /* height: 90px; */
    align-items: center;
    
}

.icon{
    font-size: 17px;
    color:white;
    font-weight: bold;
    /* background-color: antiquewhite; */
    background-size: cover;
    padding: 10px;
    border-radius: 10%;
}